BASE_URL=http://localhost
DRUPAL_ROOT=/var/www/html
FAKER_LOCALE=en_US

# FOR Drupal7Docker by laceysanderson
# https://github.com/laceysanderson/drupal_dev_CI/tree/master/drupal7dev
DBADMIN=tripaladmin
DBNAME=tripaldb
DRUPALADMIN=tripaladmin
DRUPALEMAIL=tripaladmin@knowpulse.usask.ca
SITENAME="Tripal Docker"
ADMINPASS=anothersecurepassword
DBPASS=somesecurepassword
