/**
 * @file
 * Style configuration page.
 */

.tripal-ws-div-item {
  border-right: 1px solid #CCCCCC;
  display: inline;
  float: left;
  margin: 0 40px 30px 0;
  padding: 0 40px 0 0;
}

.tripal-ws-div-item:last-of-type {
  border: none;
}

.tripal-ws-div-item h1 {
  background-color: #000000;
  color: #FFFFFF;
  font-family: Courier;
  display: inline-block;
  padding: 10px;
}

.tripal-ws-div-item h4 {
  margin-bottom: 2px;
}

.clear-float {
  clear: left;
  display: block;
  float: none;
}

.tripal-ws-div-item select {
  width: 200px;
}

@media(max-width: 1550px) {
  .tripal-ws-div-item {
    border: none;
    float: none;
    margin: 0 0 40px 0;
    padding: 0;
  }
}

.tripal-ws-field-select-default {
  float: left;
  width: 60px;
}

span.tripal-ws-td-item {
  background-color: #EAEAEA;
  border: 1px solid #333333;
  padding: 2px;
}
