/**
 * @file
 * Style configuration page.
 */

.tripal-ws-div-item {
  border-right: 1px solid #CCCCCC;
  display: inline;
  float: left;
  margin: 0 40px 20px 0;
  padding: 0 40px 0 0;
  position: relative;
}

.tripal-ws-div-item:last-of-type {
  border: none;
}

.tripal-ws-div-item h4 {
  margin-bottom: 2px;
}

.clear-float {
  clear: left;
  display: block;
  float: none;
  margin: 0 10px 20px 0;
}

.tripal-ws-div-item select {
  width: 200px;
}

.tripal-ws-info {
  cursor: pointer;
  background: url(help-icon.png) center no-repeat;
  padding: 3px 10px;
}

div.tripal-ws-tooltip {
  background-color: #F5F5DC;
  border: 1px solid #666666;
  display: none;
  font-size: 12px;
  position: absolute;
  padding: 5px;
  width: 250px;
  z-index: 1;
}

@media(max-width: 1550px) {
  .tripal-ws-div-item {
    border: none;
    float: none;
    margin: 0 0 40px 0;
    padding: 0;
  }
}

.tripal-ws-field-select-default {
  float: left;
  width: 60px;
}

span.tripal-ws-td-item {
  background-color: #EAEAEA;
  border: 1px solid #333333;
  padding: 2px;
}
